/* for <hr> css
.hr0 {
    height: 1px;
    border: none;
    border-top: 1px dashed black;
}

.hr1 {
    height: 1px;
    border: none;
    border-top: 1px solid black;
}

.hr2 {
    height: 3px;
    border: none;
    border-top: 3px double black;
}

.hr3 {
    height: 5px;
    border: none;
    border-top: 5px ridge black;
}

.hr4 {
    height: 10px;
    border: none;
    border-top: 10px groove black;
}*/

.hr2 {
    height: 3px;
    border: none;
    border-top: 1px solid black;
}