<div id="idConfirm" class="w3-modal">
    <div class="w3-modal-content w3-display-middle w3-black"> <span onclick="document.getElementById('idConfirm').style.display='none'" class=" w3-large w3-button w3-display-topright">&times;</span>
        <div class="w3-container w3-padding-64 " style="text-align:center"> <span id="idConfirmText" class="w3-xlarge"></span>
            <br>
            <input type="button" class="w3-button w3-dark-grey w3-margin-top" id="btnYes" value="Yes">
            <input type="button" class="w3-button w3-dark-grey w3-margin-top" id="btnNo" value="No" onclick="document.getElementById('idConfirm').style.display='none'"> </div>
    </div>
</div>