<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>
<title>PLM Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../vendor/w3/css/w3.css">
<link rel="stylesheet" href="../vendor/Montserrat/css/Montserrat.css">
<link rel="stylesheet" href="../vendor/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../plmweb/css/plmweb.css">

<body class="w3-white">
    <script src="../vendor/w3/js/w3.js"></script>
    <script src="../vendor/jquery/js/jquery.min.js"></script>
    <script src="../vendor/jquery/js/jquery.cookie.js"></script>
    <script src="../plmweb/js/plmweb.js"></script>
    <script src="../plmweb/js/login.js"></script>
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <div class="w3-black" id="nav-placeholder"> </div>
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <div class="w3-container w3-padding-8 w3-margin-left w3-hide-small">
            <button id="openNav" class="w3-border w3-border-black w3-button w3-white w3-large" onclick="w3_open()" style="display:none">&#9776;</button>
        </div>
        <!-- Header/Home -->
        <header class="w3-container w3-padding-8 w3-center" id="home">
            <h4 class="w3-jumbo">PLM Web</h4>
            <p>Designed by Kenny.Huang</p>
        </header>
        <!-- Contact Section -->
        <div class="w3-padding-8 w3-content w3-text-grey" id="contact">
            <h3 class="w3-text-dark-grey">Administrator</h3>
            <hr style="width:200px" class="hr2 w3-opacity">
            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-black w3-xlarge w3-margin-right"></i> QSI MIC</p>
                <p><i class="fa fa-phone fa-fw w3-text-black w3-xlarge w3-margin-right"></i> Ext: 11706</p>
                <p><i class="fa fa-envelope fa-fw w3-text-black w3-xlarge w3-margin-right"> </i> Email: kenny.huang@qsitw.com</p>
            </div>
            <br>
            <!-- End Contact Section -->
        </div>
        <!-- Footer -->
        <footer class="w3-content w3-text-grey w3-xlarge w3-display-bottomright w3-margin-right">
            <p class="w3-medium">Powered by QSI MIC</p>
            <!-- End footer -->
        </footer>
        <!-- END PAGE CONTENT -->
    </div>
    <div id="login-placeholder"> </div>
    <div class="w3-black" id="loading-placeholder"> </div>
</body>

</html>