<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>
<title>PLM Web</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../vendor/w3/css/w3.css">
<link rel="stylesheet" href="../vendor/Montserrat/css/Montserrat.css">
<link rel="stylesheet" href="../vendor/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../plmweb/css/plmweb.css">

<body class="w3-white">
    <script src="../vendor/w3/js/w3.js"></script>
    <script src="../vendor/jquery/js/jquery.min.js"></script>
    <script src="../vendor/jquery/js/jquery.cookie.js"></script>
    <script src="../vendor/jquery/js/jquery.validate.min.js"></script>
    <script src="../plmweb/js/plmweb.js"></script>
    <script src="../plmweb/js/login.js"></script>
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <div class="w3-black" id="nav-placeholder"> </div>
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <div class="w3-container w3-padding-8 w3-margin-left w3-hide-small">
            <button id="openNav" class="w3-border w3-border-black w3-button w3-white w3-large" onclick="w3_open()" style="display:none">&#9776;</button>
        </div>
        <!-- Header/Home -->
        <header class="w3-container w3-padding-8 w3-center" id="home">
            <h4 class="w3-jumbo">List Maintain</h4> </header>
        <!-- Contact Section -->
        <form id="idForm">
            <div class="w3-row-padding" style="margin:8px -16px;">
                <div class="w3-half w3-margin-bottom">
                    <label> List Name:</label>
                    <select id="dropdownList" class="w3-input w3-border" required>
                        <option></option>
                        <option class="req">loading list, please wait...</option>
                        <option class="res" w3-repeat="joR" style="display:none">{{listName}}</option>
                    </select>
                </div>
                <div class="w3-half w3-margin-bottom">
                    <label> List Value:</label>
                    <input id="listValue" class="w3-input w3-border" type="text" required> </div>
            </div>
            <input type="button" class="w3-button w3-dark-grey" id="btnListQuery" value="Query">
            <input type="button" class="w3-button w3-dark-grey dcc" id="btnListAdd" value="Add">
            <input type="button" class="w3-button w3-dark-grey admin" id="btnListUpdate" value="Update">
            <input type="button" class="w3-button w3-dark-grey admin" id="btnListDelete" value="Delete"> </form>
        <div id="result" class="w3-padding-32">
            <h2 class="w3-text-dark-grey w3-margin-right" style="display:inline">Result:</h2>
            <hr style="width:200px" class="hr2 w3-opacity">
            <div class="w3-section w3-responsive">
                <table class="w3-table w3-bordered w3-border w3-margin-top" id="idRTable" style="cursor:pointer">
                    <tr class="w3-dark-grey w3-hover-black">
                        <th class="w3-dark-grey w3-hover-black" onclick="w3.sortHTML('#idRTable','.item', 'td:nth-child(1)')">Name <i class="fa fa-sort" style="font-size:13px;"></i></th>
                        </td>
                        <th class="w3-dark-grey w3-hover-black" onclick="w3.sortHTML('#idRTable','.item', 'td:nth-child(2)')">Active <i class="fa fa-sort" style="font-size:13px;"></i></th>
                        </td>
                    </tr>
                    <tr class="item w3-medium w3-border" w3-repeat="joR">
                        <td>{{Name}}</td>
                        <td>{{Active}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- End Contact Section -->
    </div>
    <!-- END PAGE CONTENT -->
    <div id="login-placeholder"> </div>
    <div id="confirm-placeholder"> </div>
    <div class="w3-black" id="loading-placeholder"> </div>
</body>

</html>