
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav id="mySidebar" class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-left w3-animate-left">
    <button class="w3-bar-item w3-button w3-medium w3-center" onclick="w3_close()">Close &times;</button>
    <a class="w3-bar-item w3-button w3-middle" onclick="document.getElementById('idDivLogin').style.display='block'"> <i class="fa fa-user fa-fw w3-large"></i>
        <p class="w3-medium" style="display:inline" id="idPuserName">Login</p>
    </a>
    <a href="/" class="w3-bar-item w3-button w3-hover-grey"> <i class="fa fa-home w3-large"></i>
        <p class="w3-medium" style="display:inline">Home</p>
    </a>
    <div class="admin">
        <a href="/pages/inactivate.html" target="_top" class="w3-bar-item w3-button w3-middle"> <i class="fa fa-ban fa-fw w3-large"></i>
            <p class="w3-medium" style="display:inline">Inactivate</p>
        </a>
    </div>
    <div class="dcc">
        <a href="/pages/ListMaintain.html" target="_top" class="w3-bar-item w3-button w3-middle"> <i class="fa fa-list fa-fw w3-large"></i>
            <p class="w3-medium" style="display:inline">List Maintain</p>
        </a>
    </div>
    <div class="w3-dropdown-hover">
        <a class="w3-bar-item w3-button w3-middle"> <i class="fa fa-table fa-fw w3-large"></i><i class="fa fa-caret-down w3-right w3-large"></i>
            <p class="w3-medium" style="display:inline">Report</p>
        </a>
        <div class="w3-dropdown-content w3-bar-block"> <a href="/pages/report01.html" target="_top" class="w3-bar-item w3-button">01. CKD-ID Comparison</a> </div>
    </div>
</nav>
<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black  w3-center w3-small">
        <a class="w3-bar-item w3-button w3-middle" onclick="document.getElementById('idDivLogin').style.display='block'">
            <p class="w3-small" style="display:inline" id="idPuserName1">Login</p>
        </a> <a href="/" class="w3-bar-item w3-button">Home</a>
        <div class="admin">
            <a href="/pages/inactivate.html" target="_top" class="w3-bar-item w3-button w3-middle">
                <p class="w3-small" style="display:inline">Inactivate</p>
            </a>
        </div>
        <div class="dcc">
            <a href="/pages/ListMaintain.html" target="_top" class="w3-bar-item w3-button w3-middle">
                <p class="w3-small" style="display:inline">List Maintain</p>
            </a>
        </div>
        <div class="w3-dropdown-hover "> <a class="w3-button w3-small"><i class="fa fa-caret-down w3-right w3-small"></i>
                <p class="w3-small" style="display:inline">Report</p>
            </a>
            <div class="w3-dropdown-content w3-bar-block w3-border"> <a href="/pages/report01.html" target="_top" class="w3-bar-item w3-button">CKD-ID Comparison</a> </div>
        </div>
    </div>
</div>
